.nav {
  position: relative;
  padding: rem(44) 0 rem(48);
  font-weight: 500;
  z-index: 1000;
  @include breakup(mobile) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: rem(55) 0 rem(114);
    padding: 55px 0 20px;
    margin: 0 auto;
  }
  .brand {
    img.logo {
      transform: scale(1);
    }
  }

  .mobile-icon {
    transition: transform 0.2s ease;
    @include breakup(mobile) {
      display: none;
    }
  }
  .open-menu {
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  .close-menu {
    visibility: hidden;
    transition: opacity 0.2s ease;
    opacity: 0;
    height: 0;
  }

  &-links {
    visibility: hidden;
    transform: scale(0);
    transition: all 0.3s ease;
    transform-origin: top right;

    position: absolute;
    top: rem(38);
    width: 100%;
    border-radius: rem(4);
    text-align: center;
    color: $dark-blue;
    background: $very-light-gray;
    padding: rem(46) 0 rem(40);
    @include breakup(mobile) {
      visibility: visible;
      position: unset;
      display: flex;
      width: unset;
      padding: unset;
      background: unset;
    }
    a {
      display: block;
      transition: color 0.2s ease;
      &:hover {
        color: $dark-grayish-blue;
      }
      @include breakup(mobile) {
        font-size: rem(13);
      }
      &:not(:last-child) {
        margin-bottom: rem(32);
        @include breakup(mobile) {
          margin-bottom: unset;
          margin-right: rem(32);
        }
      }
    }
  }

  &-cta {
    display: none;
    @include breakup(mobile) {
      display: block;
    }
  }

  &.open {
    .mobile-icon {
      transform: rotate(45deg);
    }
    .close-menu {
      transform: rotate(-45deg);
      visibility: visible;
      opacity: 1;
      height: initial;
    }
    .open-menu {
      visibility: hidden;
      opacity: 0;
      height: 0;
    }
    .nav-links {
      visibility: visible;
      transform: scale(1);
    }
  }
}

.modal {
  @include breakdown(mobile) {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $dark-grayish-blue;
    background: linear-gradient(
      135deg,
      rgba($color: $dark-grayish-blue, $alpha: 0),
      rgba($color: $dark-grayish-blue, $alpha: 1)
    );
    z-index: 100;

    &.open {
      visibility: visible;
      opacity: 1;
    }
  }
}
