.testimonial {
  text-align: center;
  margin-top: rem(76);

  h2 {
    font-size: rem(32);
    margin-bottom: rem(96);
    @include breakup(mobile) {
      font-size: rem(39);
    }
  }

  h3 {
    padding: rem(54) 0 rem(28);
  }
  p {
    font-size: rem(14);
    margin: 0;
    @include breakup(mobile) {
      font-size: rem(16);
    }
  }

  &-card {
    background: $very-light-gray;

    .card {
      width: 85%;
      padding-bottom: rem(52);
      margin: 0 auto;
      position: relative;
    }
  }
  img {
    width: rem(72);
    position: absolute;
    top: -17%;
    left: 50%;
    transform: translateX(-50%);
  }

  &-btn {
    margin-top: rem(44);
  }
}
